/* pc */
@media (min-width: 992px) {
}
/* tablet & mobile */
@media (max-width: 991.98px) {
  /* an navbar */
  .navbar {
    display: none;
  }
  /* chuyen logo vao giua  */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  .menu-header__icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 24px;
    top: 38px;
    left: 26px;
  }
  /* code cho overlate */
  .menu-overlate {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  #menu-checkbox:checked ~ .menu-overlate {
    opacity: 1;
    visibility: visible;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* mobile */
@media (max-width: 767.98px) {
}
/* tam an */
.hero,
.footer,
main {
  display: none;
}
