* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ========= common ======= */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px; /* 166.667% */
  background-color: #2e80ce;
  border-radius: 999px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.8;
}
/* ========== header ========= */
.header {
  background-color: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.navbar__link--active::before {
  position: relative;
  right: 8px;
  top: -3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header__action--signup {
  min-width: 104px;
  line-height: 44px;
}
.header__action--login {
  margin-right: 7px;
}
/* ================hero right ================= */
.hero {
  display: flex;
  padding: 76px 0 100px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  display: flex;
  margin-top: 38px;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__images--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}
.hero__images--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}
